# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here

import pandas as pd
import numpy as np

data=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
data.head()              #quick overview of the dataframe
display(data.shape)      #the dataframe has 4008 rows and 11 columns

col1 = []                #putting column names in lowercase so that it's easier to work with later
for column in data.columns:
    col1.append(column.lower()) 
data.columns = col1  
display(data.head())

data = data.rename(columns={'st':'state'})

data.columns=list(map(lambda x: x.replace(' ','_'), data.columns))
data

(4008, 11)

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#question: Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.

display(data.dtypes)     #to see all the data types in our dataframe all 'object' or 'float64'

    ## Select 'object' / categorical type: 
display(data.select_dtypes('object'))
            #customer, st, gender, education, customer lifetime value, number of open complaints, policy type, vehicle class

    ## Select 'float64' / numerical type: 
display(data._get_numeric_data())
            #income, monthly premium auto, total claim amount

#after looking at the values in each column and the data description:
        # it can be deduced that 'customer lifetime value' and 'number of open complaints' should be numerical values.

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

,customer,state,gender,education,customer_lifetime_value,number_of_open_complaints,policy_type,vehicle_class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

       income  monthly_premium_auto  total_claim_amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [3]:
#question: fixing incorrect data types

#For customer life value:
data['customer_lifetime_value'].value_counts(dropna=False)
def remove_per(column):
    return column.str.replace('%', '')
data['customer_lifetime_value']=remove_per(data['customer_lifetime_value'])
display(data['customer_lifetime_value'].value_counts(dropna=False))
# % has been succesfully removed

#Correction of customer lifetime value data type:
data['customer_lifetime_value'] =  pd.to_numeric(data['customer_lifetime_value'], errors='coerce')
data.dtypes  #the variable is now a float

customer_lifetime_value
NaN           2940
445811.34        4
251459.20        4
2412750.40       3
684615.03        3
              ...
1210120.88       1
245357.08        1
507566.27        1
321497.94        1
899704.02        1
Name: count, Length: 1028, dtype: int64

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [4]:
#Cleaning Number of open complaints columns
data['number_of_open_complaints'].value_counts(dropna=False)

#using the fillna("0/0"), to substitute the NaN value with the string "0/0" in the column 
data['number_of_open_complaints']=data['number_of_open_complaints'].fillna("0/0")

#using the function string.split('/'), to substitute the / sign 
data['number_of_open_complaints'].value_counts(dropna=False)

data['number_of_open_complaints'] = list(map(lambda el: el.split('/')[1], data['number_of_open_complaints']))
data['number_of_open_complaints'].value_counts(dropna=False)

data['number_of_open_complaints'] =  pd.to_numeric(data['number_of_open_complaints'], errors='coerce')
data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [5]:
#question: Identify the number of unique values for each column and determine which columns appear to be categorical. 
data.nunique()
#observing the numbers of unique values for each variables seems to confirm that:
    # categorical variables= customer, st, gender, education, policy type, vehicle class 
    #numerical values= income, monthly premium auto, total claim amount AND customer lifetime value (because 1027 unique values in it) and number of open complaints (because only 6 unique values in it)

customer                     1071
state                           8
gender                          5
education                       6
customer_lifetime_value      1027
income                        774
monthly_premium_auto          132
number_of_open_complaints       6
policy_type                     3
vehicle_class                   6
total_claim_amount            761
dtype: int64

In [6]:
#question:describe the unique values of each categorical column
cat_var = data.select_dtypes(include=['object'])
cat_var
for col in cat_var:
    display(cat_var[col].value_counts(dropna=False))
    display('')
#for all cat variables NaN values are the most represented ==> a lot of missing data
#for customer values : unique values = 1072 but NaN values= 2937==> a lot of missing data
#for st : unique values = 9 but NaN values= 2937 most represented state is Oregon w/ 320 values
#for gender : lots of typos and but NaN values= 3054 ==> a lot of missing data

customer
NaN        2937
KH59823       1
HQ82233       1
OL72737       1
ZQ59828       1
           ...
RO26085       1
ES57969       1
JK55587       1
RN97635       1
TA82973       1
Name: count, Length: 1072, dtype: int64

''

state
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64

''

gender
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64

''

education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64

''

policy_type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64

''

vehicle_class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64

''

In [7]:
#question: and the range of values for numerical columns and give your insights.
num_var = data.select_dtypes(include=[np.number])
num_var
for col in num_var:
    range=num_var[col].max()-num_var[col].min()
    display(col,range)
#Range: income= 99960.0, mpa= 35293.0, tca= 2892.857571 means that there's a really large range between the highest and lowest values
#we can suppose the presence of extremes/outliers

'customer_lifetime_value'

5616220.279999999

'income'

99960.0

'monthly_premium_auto'

35293.0

'number_of_open_complaints'

5

'total_claim_amount'

2892.857571

In [8]:

#question: Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to 
#understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
for col in num_var:
    print(f"Summary statistics for '{col}':")
    print(num_var[col].describe())
    print('')
#income: mean~median (300$ of difference) but presence of extremes. seems like a normal distribution
#mpa: mean(193)!=median(83) and actually mean>Q3 ==> presence of extremely high outliers that influence mean
#tca: mean~median (50$ of difference) but presence of extremes. seems like a normal distribution

Summary statistics for 'customer_lifetime_value':
count    1.068000e+03
mean     7.936903e+05
std      6.434784e+05
min      2.004351e+05
25%      4.034080e+05
50%      5.881742e+05
75%      8.962872e+05
max      5.816655e+06
Name: customer_lifetime_value, dtype: float64

Summary statistics for 'income':
count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: income, dtype: float64

Summary statistics for 'monthly_premium_auto':
count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: monthly_premium_auto, dtype: float64

Summary statistics for 'number_of_open_complaints':
count    4008.000000
mean        0.105289
std         0.488849
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         5.000000
Name: number_of_open_complaints, dtype: float64

Summary statistics for 'total_claim_amount':
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: total_claim_amount, dtype: float64

In [9]:
#question: Compute summary statistics for categorical columns and providing your conclusions based on these statistics.    
for col in cat_var:
    print(f"Summary statistics for'{col}':")
    print(cat_var[col].describe())
    print('')
#we observe the num of unique values and the most represented value and its frequency for each cat var

Summary statistics for'customer':
count        1071
unique       1071
top       RB50392
freq            1
Name: customer, dtype: object

Summary statistics for'state':
count       1071
unique         8
top       Oregon
freq         320
Name: state, dtype: object

Summary statistics for'gender':
count     954
unique      5
top         F
freq      457
Name: gender, dtype: object

Summary statistics for'education':
count         1071
unique           6
top       Bachelor
freq           324
Name: education, dtype: object

Summary statistics for'policy_type':
count              1071
unique                3
top       Personal Auto
freq                780
Name: policy_type, dtype: object

Summary statistics for'vehicle_class':
count              1071
unique                6
top       Four-Door Car
freq                576
Name: vehicle_class, dtype: object

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [10]:
# 
cust_locations=pd.Series(data['state'].value_counts())
cust_locations

cust_locations=cust_locations.sort_values(axis=0, ascending=True)
cust_locations.head()    #by default the first 5 rows will be shown

#We did not clean the values here so while we can say that AZ, WA, Washington, Nevada and Cali are the less common locations,
#we could also argue that WA must be added to Washington and AZ to Arizona so this classment might be affected later on after all the cleaning steps

state
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [11]:
num_policy=pd.Series(data['policy_type'].value_counts())
num_policy

num_policy.idxmax()   
#policy type with the highest number of polcies sold is Personal Auto

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [12]:
#for Personal AUto policy

df=data[data['policy_type']=='Personal Auto']
df
av_inc=df['income'].mean()
print(av_inc)
# average income for this policy is 38180.70$

38180.69871794872

In [13]:
#for Corporate Auto 

df2=data[data['policy_type']=='Corporate Auto']
df2
av_inc2=df2['income'].mean()
print(av_inc2)
# average income for this policy is 41390.31$

41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [14]:
# Your code here