# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [105]:
# Your code here
#question: Identify the dimensions of the dataset = number of rows and columns it contains.
#question: Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.

import pandas as pd

data=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
data.head()              #quick overview of the dataframe
display(data.shape)      #the dataframe has 4008 rows and 11 columns

cols = []
for colname in data.columns:
    cols.append(colname.lower())
data.columns = cols      #putting column names in lowercase so that it's easier to work with later


display(data.dtypes)     #to see all the data types in our dataframe all 'object' or 'float64'

    ## Select 'object' / categorical type: 
display(data.select_dtypes('object'))
            #customer, st, gender, education, customer lifetime value, number of open complaints, policy type, vehicle class

    ## Select 'float64' / numerical type: 
display(data._get_numeric_data())
            #income, monthly premium auto, total claim amount

#after looking at the values in each column and the data description:
        # it can be deduced that 'customer lifetime value' and 'number of open complaints' should be numerical values.

(4008, 11)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

,customer,st,gender,education,customer lifetime value,number of open complaints,policy type,vehicle class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

       income  monthly premium auto  total claim amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [106]:
#question: fixing incorrect data types

data2=data.copy() #data2 = new data frame for suggestions on how to correct data types

#I can't directly coerce into numeric data types because the output gives all NaN values
#I need to clean the values before converting the types

            #Overview of the type of values and their presentation in each columns
display(data2['customer lifetime value'].unique())
display(data2['number of open complaints'].unique()) #except for NaN values are all presented like x/x/xx
#In both columns there are caracters (% and /) and null values that we'll need to change

            # For 'customer lifetime value':
len(data2['customer lifetime value']) #there's 4008 rows in total
len(data2[data2['customer lifetime value'].isna()==True]) #there's 2940 rows with missing/null values
    #since there's so many missing values we cannot drop rows instead we're gonna replace them with 0
data2['customer lifetime value'] = data2['customer lifetime value'].fillna('0')
data2['customer lifetime value']  #NaN values have been replaced by 0
    #removing %
data2['customer lifetime value']=list(map(lambda x: x.replace('%',''), data2['customer lifetime value']))
data2['customer lifetime value']  # % has been succesfully removed

            # For 'number of open complaints':
len(data2['number of open complaints']) #there's 4008 rows in total
len(data2[data2['number of open complaints'].isna()==True]) #there's 2937 rows with missing/null values
     #since there's so many missing values we cannot drop rows instead we're gonna replace them with 0/0/0
data2['number of open complaints'] = data2['number of open complaints'].fillna('0/0/0')
data2['number of open complaints']  #NaN values have been replaced by 0/0/0
     #removing %
data2['number of open complaints']=list(map(lambda x: x.split('/'), data2['number of open complaints']))
data2['number of open complaints'] # / has been succesfully removed

            #Converting data types
data2['customer lifetime value'] =  pd.to_numeric(data2['customer lifetime value'], errors='coerce')
data2['customer lifetime value']
data.dtypes  #serves as reference
data2.dtypes # 'customer lifetime value' has been changed from 'object' to 'float64'

#converting 'number of open complaints' results in all NaN values (following procedure) for now I'll keep this variable as 'object' 
# data2['number of open complaints'] =  pd.to_numeric(data2['number of open complaints'], errors='coerce')
# data2['number of open complaints']

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

0             0.00
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003          0.00
4004          0.00
4005          0.00
4006          0.00
4007          0.00
Name: customer lifetime value, Length: 4008, dtype: float64

In [121]:
#question: Identify the number of unique values for each column and determine which columns appear to be categorical. 
data.nunique()
#observing the numbers of unique values for each variables seems to confirm that:
    # categorical variables= customer, st, gender, education, policy type, vehicle class AND number of open complaints (because only 6 unique values in it)
    #numerical values= income, monthly premium auto, total claim amount AND customer lifetime value (because 1027 unique values in it)

#question:describe the unique values of each categorical column
cat_var = ['customer', 'st', 'gender', 'education', 'customer lifetime value', 'number of open complaints', 'policy type', 'vehicle class']
for col in cat_var:
    display(data[col].value_counts(dropna=False))
#for all cat variables NaN values are the most represented ==> a lot of missing data
#for customer values : unique values = 1072 but NaN values= 2937==> a lot of missing data
#for st : unique values = 9 but NaN values= 2937 most represented state is Oregon w/ 320 values
#for gender : lots of typos and but NaN values= 3054 ==> a lot of missing data
    
#and the range of values for numerical columns and give your insights.
num_var = ['income', 'monthly premium auto', 'total claim amount']
for col in num_var:
    range=data[col].max()-data[col].min()
    display(range)
#Range: income= 99960.0, mpa= 35293.0, tca= 2892.857571 means that there's a really large range between the highest and lowest values
#we can suppose the presence of extremes/outliers

customer
NaN        2937
KH59823       1
HQ82233       1
OL72737       1
ZQ59828       1
           ...
RO26085       1
ES57969       1
JK55587       1
RN97635       1
TA82973       1
Name: count, Length: 1072, dtype: int64

st
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64

gender
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64

education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64

customer lifetime value
NaN            2940
445811.34%        4
251459.20%        4
2412750.40%       3
684615.03%        3
               ...
1210120.88%       1
245357.08%        1
507566.27%        1
321497.94%        1
899704.02%        1
Name: count, Length: 1028, dtype: int64

number of open complaints
NaN       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: count, dtype: int64

policy type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64

vehicle class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64

99960.0

35293.0

2892.857571

In [122]:
#question: Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to 
#understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
for col in num_var:
    print(f"Summary statistics for '{col}':")
    print(data[col].describe())
#income: mean~median (300$ of difference) but presence of extremes. seems like a normal distribution
#mpa: mean(193)!=median(83) and actually mean>Q3 ==> presence of extremely high outliers that influence mean
#tca: mean~median (50$ of difference) but presence of extremes. seems like a normal distribution

#question: Compute summary statistics for categorical columns and providing your conclusions based on these statistics.    
for col in cat_var:
    print(f"Summary statistics for '{col}':")
    print(data[col].describe())
#we observe the num of unique values and the most represented value and its frequency for each cat var

Summary statistics for 'income':
count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: income, dtype: float64
Summary statistics for 'monthly premium auto':
count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: monthly premium auto, dtype: float64
Summary statistics for 'total claim amount':
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: total claim amount, dtype: float64
Summary statistics for 'customer':
count        1071
unique       1071
top       RB50392
freq            1
Name: customer, dtype: object
Summary statistics for 'st':
count       1071
unique         8
top       Oregon
freq         320
Name: st, dtype: object
Summary statistics for 'gender':
count     954
unique      5
top         F
freq      457
Name: gender, dtype: object
Summary statistics for 'education':
count         1071
unique           6
top       Bachelor
freq           324
Name: education, dtype: object
Summary statistics for 'customer lifetime value':
count           1068
unique          1027
top       445811.34%
freq               4
Name: customer lifetime value, dtype: object
Summary statistics for 'number of open complaints':
count       1071
unique         6
top       1/0/00
freq         830
Name: number of open complaints, dtype: object
Summary statistics for 'policy type':
count              1071
unique                3
top       Personal Auto
freq                780
Name: policy type, dtype: object
Summary statistics for 'vehicle class':
count              1071
unique                6
top       Four-Door Car
freq                576
Name: vehicle class, dtype: object

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# Your code here

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here